:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(30, 30, 30);
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

}

#cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 956px;
  width: calc(100% - 20px);
  gap: 8px;
}

.card {
  height: 260px;
  width: 300px;
  background-color: rgba(255, 255, 255, .05);
  /* border: 1px solid rgba(255, 255, 255, .1); */
  border-radius: 10%;
  cursor: pointer;
  position: relative;
}

.card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  content: "";
  z-index: 3;
  background: radial-gradient(820px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, .08), transparent 40%);
  opacity: 0;
  transition: opacity 1.1s;
}

.card:hover::before {
  opacity: .7;
}

.card > .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: var(--card-color);
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border-radius: inherit;
  margin: 1px;
  z-index: 2;
}

.card > .card-border {
  background: radial-gradient(410px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, .3), transparent 80%);
  z-index: 1;
}

#cards:hover > .card > .card-border {
  opacity: .5;
}

.card-text, .card-header {
  color: white;
  opacity: .2;
}

.card-image {
  opacity: .2;
}


.card:hover:nth-child(1) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(1) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(1) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}


.card:hover:nth-child(2) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(2) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(2) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}


.card:hover:nth-child(3) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(3) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(3) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(4) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(4) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(4) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}


.card:hover:nth-child(5) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(5) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(5) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}


.card:hover:nth-child(6) > div.card-content > .card-text{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(6) > div.card-content > .card-header{
  opacity: 1;
  transition: opacity 2s;
}

.card:hover:nth-child(6) > div.card-content > .card-image{
  opacity: 1;
  transition: opacity 2s;
}

#cards > div > div.card-content > img {
  height: calc(60% - 20px);
  width: 97.5%;
  object-fit:cover;
  border-radius: inherit;
}